<div class="col-md-4">
  <ng-template #tenderForm let-c="close" let-d="dismiss">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary shadow border-0">

          <div class="card-header bg-white pb-5">
            <div class="text-muted text-center mt-2 mb-4">
              <small *ngIf="step == 1">Step 1: Contact Data</small>
              <small *ngIf="step == 2">Step 2: blblblblb</small>
            </div>
            <div class="text-center">
              <div class="progress-wrapper">
                <div class="progress-info">
                  <div class="progress-label">
                    <span>Task completed</span>
                  </div>
                  <div class="progress-percentage">
                    <span>{{stepWidth}}%</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar bg-primary" role="progressbar"  aria-valuemin="0"
                       aria-valuemax="100" [ngStyle]="{'width': stepWidth+'%'}" ></div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body px-lg-5 py-lg-5">
            <form>

              <ng-container *ngIf="step == 1">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="email" class="form-control" id="exampleFormControlInput1"
                             placeholder="name@example.com">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" placeholder="Regular" class="form-control" disabled="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                        </div>
                        <input class="form-control" placeholder="Search" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="input-group mb-4">
                        <input class="form-control" placeholder="Birthday" type="text">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group has-success">
                      <input type="text" placeholder="Success" class="form-control is-valid">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group has-danger">
                      <input type="email" placeholder="Error Input" class="form-control is-invalid">
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary mt-4" (click)="setStep(2)">Next step</button>
                </div>
              </ng-container>
              <ng-container *ngIf="step == 2">
                <h1>step 2 bitches</h1>
              </ng-container>

            </form>

          </div>


        </div>
      </div>
    </div>
  </ng-template>
</div>
