<div class="card-header border-0">
  <div class="row align-items-center">
    <div class="col">
      <h3 class="mb-0">{{products.title}}</h3>
    </div>
    <div class="col text-right">
      <a class="btn btn-sm btn-success" href="#!">See all</a>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="row row-grid">
    <div class="col-xl-3 col-lg-6" *ngFor="let product of products.children">
      <app-product-card [product]="product"></app-product-card>
<!--      <div class="card card-lift&#45;&#45;hover shadow border-0">-->
<!--        <img class="card-img-top" src="{{product.image}}" alt="Card image cap">-->
<!--        <div class="card-body py-5">-->
<!--          <h6  class="text-success text-uppercase">{{product.title}}</h6>-->
<!--          <p class="description mt-3">{{product.description}}</p>-->
<!--          <div>-->
<!--            <span *ngFor="let tag of product.tags" class="badge badge-pill badge-success">{{tag}}</span>-->
<!--          </div>-->
<!--          <a class="btn btn-success mt-4" href="javascript:void(0)">Learn more</a>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
  <!--          your cards here-->
  <!--          <img src="https://source.unsplash.com/1600x900/?nature,water" alt="">-->
</div>

<div class="card-header border-0 mt-3">
  <div class="row align-items-center">
    <div class="col">
      <h3 class="mb-0">{{suppliers.title}}</h3>
    </div>
    <div class="col text-right">
      <a class="btn btn-sm btn-primary" href="#!">See all</a>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="row row-grid">
    <div class="col-xl-3 col-lg-6" *ngFor="let supplier of suppliers.children">
      <app-supplier-card [supplier]="supplier"></app-supplier-card>
<!--      <div class="card card-lift&#45;&#45;hover shadow border-0">-->
<!--        <img class="card-img-top" src="{{supplier.image}}" alt="Card image cap">-->
<!--        <div class="card-body py-5">-->
<!--          <h6  class="text-primary text-uppercase">{{supplier.title}}</h6>-->
<!--          <p class="description mt-3">{{supplier.description}}</p>-->
<!--          <div>-->
<!--            <span *ngFor="let tag of supplier.tags" class="badge badge-pill badge-primary">{{tag}}</span>-->
<!--          </div>-->
<!--          <a class="btn btn-primary mt-4" href="javascript:void(0)">Learn more</a>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
  <!--          your cards here-->
  <!--          <img src="https://source.unsplash.com/1600x900/?nature,water" alt="">-->
</div>
