<div class="card-header border-0">
  <div class="row align-items-center">
    <div class="col">
      <h3 class="mb-0">{{products.title}}</h3>
    </div>
    <div class="col text-right">
      <a class="btn btn-sm btn-success" [routerLink]="''">See all</a>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="row row-grid">
    <div class="col-xl-3 col-lg-6" *ngFor="let product of products.children">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>

<div class="card-header border-0 mt-3">
  <div class="row align-items-center">
    <div class="col">
      <h3 class="mb-0">{{suppliers.title}}</h3>
    </div>
    <div class="col text-right">
      <a class="btn btn-sm btn-primary" [routerLink]="''">See all</a>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="row row-grid">
    <div class="col-xl-3 col-lg-6" *ngFor="let supplier of suppliers.children">
      <app-supplier-card [supplier]="supplier"></app-supplier-card>
    </div>
  </div>
</div>
