<div class="header bg-gradient-green pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white"> {{ supplier.title }}</h1>
          <p class="text-white mt-0 mb-5">{{supplier.description}}</p>
          <button type="button" (click)="openContactModal()" class="btn btn-info">Contact</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Supplier -->
  <div class="row">
    <div class="col">

      <div class="card shadow">
        <div class="card-header border-0">
          <div _ngcontent-c6="" class="px-4">
            <div _ngcontent-c6="" class="row justify-content-center">
              <div _ngcontent-c6="" class="col-lg-3 order-lg-2">
                <div _ngcontent-c6="" class="card-profile-image">
                  <a _ngcontent-c6="" href="javascript:void(0)">
                    <div
                      class="rounded-circle fancy-style"
                      [ngStyle]="{'background-image': 'url(../' + supplier.image + ')'}"
                    >
                    </div>
                  </a>
                </div>
              </div>
              <div _ngcontent-c6="" class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <div _ngcontent-c6="" class="card-profile-actions py-4 mt-lg-0">
                    <button _ngcontent-c6=""  type="button" (click)="openContactModal()" class="btn btn-sm btn-info mr-4">Contact</button><a
                  _ngcontent-c6="" class="btn btn-sm btn-default float-right" href="javascript:void(0)">Call</a>
                </div>
              </div>
              <div _ngcontent-c6="" class="col-lg-4 order-lg-1">
                <div _ngcontent-c6="" class="card-profile-stats d-flex justify-content-center">
                  <div _ngcontent-c6=""><span _ngcontent-c6="" class="heading">22</span><span _ngcontent-c6=""
                                                                                              class="description">Products</span>
                  </div>
                  <div _ngcontent-c6=""><span _ngcontent-c6="" class="heading">10</span><span _ngcontent-c6=""
                                                                                              class="description">Sells</span>
                  </div>
                  <div _ngcontent-c6=""><span _ngcontent-c6="" class="heading">89</span><span _ngcontent-c6=""
                                                                                              class="description">Comments</span>
                  </div>
                </div>
              </div>
            </div>
            <div _ngcontent-c6="" class="text-center mt-5"><h3 _ngcontent-c6="">{{ supplier.title }} <span _ngcontent-c6=""
                                                                                                    class="font-weight-light"></span>
            </h3>
              <div _ngcontent-c6="" class="h6 font-weight-300"><i _ngcontent-c6="" class="ni location_pin mr-2"></i>Bucharest,
                Romania
              </div>
              <div _ngcontent-c6="" class="h6 mt-4"><i _ngcontent-c6="" class="ni business_briefcase-24 mr-2"></i>Solution
                Manager - Creative Tim Officer
              </div>
              <div _ngcontent-c6=""><i _ngcontent-c6="" class="ni education_hat mr-2"></i>University of Computer Science
              </div>
            </div>
            <div _ngcontent-c6="" class="mt-5 py-5 border-top text-center">
              <div _ngcontent-c6="" class="row justify-content-center">
                <div _ngcontent-c6="" class="col-lg-9"><p _ngcontent-c6="">An artist of considerable range, Ryan — the
                  name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his
                  own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable
                  range.</p><a _ngcontent-c6="" href="javascript:void(0)">Show more</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row  mt-5">
    <div class="col">
      <div class="card shadow border-0">
        <div id="map-canvas" class="map-canvas" data-lat="10.663931" data-lng="-61.528545" style="height: 600px;"></div>
      </div>
    </div>
  </div>

  <div class="row  mt-5">
    <div class="col">
      <div class="card shadow border-0">
        <div class="card-body">
          <h3>Products</h3>
        </div>
        <div class="card-body">
          <!-- here could come some other thing-->
          <div class="row">
            <div class="col-xl-3 col-lg-6" *ngFor="let product of products">
              <app-product-card [product]="product"></app-product-card>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>



<ng-template #contactModal>
    <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">

        <div class="form-row">
            <div class="form-group col-md-12">
              <label for="name">Your Name</label>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                  <input type="text" class="form-control" id="name" placeholder="Your Name">
              </div>
            </div>
          </div>

          <div class="form-row">
              <div class="form-group col-md-12">
                <label for="email">Your Email</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                    <input type="text" class="form-control" id="email" placeholder="Your Email">
                </div>
              </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="subject">Your Subject</label>
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-info"></i></span>
                        </div>
                      <input type="text" class="form-control" id="subject" placeholder="Your Subject">
                  </div>
                </div>
              </div>

              <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="message">Your Message</label>

                        <textarea type="text" class="form-control" id="message" rows="4" placeholder="Please write a consise message"></textarea>
                  </div>
                </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <app-spinner [display]="submitting"></app-spinner>
          <button class="btn btn-unique" (click)="send()" >Send <i class="fas fa-paper-plane-o ml-1"></i></button>
        </div>
      </div>
  </ng-template>
