<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Tenders Received</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive" style="overflow: visible;">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Product Name</th>
              <th scope="col">From</th>
              <th scope="col">Budget</th>
              <th scope="col">Due Date</th>
              <th scope="col">Posted on</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody *ngIf="loggedIn">
            <tr *ngFor="let tender of tenders" class="tender-list" [class.selected]="tender.id === selectedTenderId"  (click)="onSelectTender(tender)">
              <th> {{tender.productName}}</th>
              <td class="avatar-wrapper">
                <div class="avatar-group">
                  <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                     data-original-title="Picker Farm">
                    <img alt="Image placeholder" src="{{tender.buyerImage}}" class="rounded-circle">
                  </a>
                </div>
                <span class="mb-0 ml-2 text-sm "> {{tender.buyerTitle}}</span>
              </td>
              <td>
                TT$ {{ tender.price}}
              </td>
              <td>
                {{tender.dueDate}}
              </td>
              <td>
                19/05/2019 TODO
              </td>
              <td>
                <button class="btn btn-sm btn-primary">Create Quotation</button>
                <button class="btn btn-sm btn-danger">Delete Tender</button>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="!loggedIn">
              <tr class="text-center ">
                <td colspan="6" class="pt-50 pb-50">
                    <h1>Sign in to see your tenders & quotations.</h1>
                    <button class="btn  btn-primary  "(click)="openLogin()">
                      Log in
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Dark table -->
  <div class="row mt-5" *ngIf="loggedIn">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Quotations Sent</h3>
        </div>
        <div class="table-responsive" style="overflow: visible;">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Product Name</th>
              <th scope="col">To</th>
              <th scope="col">Price Per Unit</th>
              <th scope="col">Message</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center " *ngIf="!selectedTenderId">
              <td colspan="6" class="pt-50 pb-50">
                <h3 style="color: #f8f9fe;" >Please select a tender from the above list. To see the corresponding quotations</h3>
              </td>
            </tr>
            <tr class="text-center " *ngIf="quotations.length === 0 && selectedTenderId">
              <td colspan="6" class="pt-50 pb-50">
                <h1 style="font-size: 5.625rem;">😿</h1>
                <h3 style="color: #f8f9fe; " >You haven't created any quotations for the selected tender yet.</h3>
              </td>
            </tr>
            <tr *ngFor="let quotation of quotations">
              <th scope="row">
                    <span class="mb-0 text-sm">{{selectedTenderProductName}}</span>
              </th>
              <td class="avatar-wrapper">
                  <div class="avatar-group">
                      <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Picker Farm">
                        <img alt="Image placeholder" src="{{quotation.buyerImage}}" class="rounded-circle">
                      </a>
                    </div>
                    <span class="mb-0 ml-2 text-sm">{{quotation.buyerTitle}}</span>

              </td>
              <td>
                  <span class="mb-0 text-sm">TT$ {{quotation.price}}</span>
              </td>
              <td>
                {{quotation.description}}
              </td>
              <td>
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Details</a>
                      <a class="dropdown-item" href="javascript:void(0)">Export as PDF</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-quotation-form></app-quotation-form>
<app-login></app-login>
