<div class="header bg-gradient-green pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--7">
      <div class="row mt-5">
        <div class="col">
          <div class="card shadow" *ngIf="isLoggedIn">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">{{products.title}}</h3>
                </div>
                <div class="col text-right">
                  <a class="btn btn-sm btn-success" [routerLink]="''">See all</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row row-grid" *ngIf="products.children.length > 0">
                <div class="col-xl-3 col-lg-6" *ngFor="let product of products.children">
                  <app-product-card [product]="product"></app-product-card>
                </div>
              </div>
              <div class="row row-grid" *ngIf="products.children.length === 0">
                <div class="col">
                 <h1>You don't have any favorite products yet 🙉</h1>
                </div>
              </div>
            </div>

            <div class="card-header border-0 mt-3">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">{{suppliers.title}}</h3>
                </div>
                <div class="col text-right">
                  <a class="btn btn-sm btn-primary" [routerLink]="''">See all</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row row-grid" *ngIf="suppliers.children.length > 0">
                <div class="col-xl-3 col-lg-6" *ngFor="let supplier of suppliers.children">
                  <app-supplier-card [supplier]="supplier"></app-supplier-card>
                </div>
              </div>
              <div class="row row-grid" *ngIf="suppliers.children.length === 0">
                <div class="col">
                  <h1>You don't have any favorite suppliers yet 🙉</h1>
                </div>
              </div>

            </div>

          </div>

          <div class="card shadow  text-center pt-100 pb-100" *ngIf="!isLoggedIn">
            <div class="card-body">

            <h1>Sign in to save favorite products and suppliers  </h1>
            <button class="btn  btn-primary  "(click)="openLogin()">
              Log in
            </button>
            </div>
          </div>
        </div>
      </div>
  </div>
<app-login></app-login>
