<div class="header bg-gradient-green pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Search -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-4">



          <div class="form-group ml-0">
            <div class="input-group input-group-alternative mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control form-control-alternative" placeholder="Search" type="text" #search>
            </div>
          </div>
        </div>
        <div class="col-lg-2 ml-lg-3">
          <div class="form-group">
            <select class="form-control" id="distance" #distance>
              <option>All distances</option>
              <option>+ 0 km</option>
              <option>+ 1 km</option>
              <option>+ 5 km</option>
              <option>+ 10 km</option>
              <option>+ 20 km</option>
              <option>+ 30 km</option>
              <option>+ 40 km</option>
              <option>+ 50 km</option>
              <option>+ 75 km</option>
              <option>+ 100 km</option>
            </select>
          </div>
        </div>

        <div class="col-lg-1 ml-lg-3">
          <div class="form-group">
          <button type="button" class="btn btn-default pathwayz-search-button" (click)="onSearch(search.value, distance.value)"><i class="fas fa-search" [routerLink]="'/search'"></i> Search</button>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


<!-- Page content -->
<div class="container-fluid mt--7">



  <!-- Featured products -->
  <div class="row mt-5">
    <div class="col">
      <div class="card shadow">
        <app-spinner [display]="searching"></app-spinner>
        <app-search [searchResult]="searchResult"></app-search>
      </div>
    </div>
  </div>


</div>
